doctype html
html(lang='de')
	head
		meta(charset='utf-8')
		title App
		link(rel='stylesheet', href=url('css/app.css'))
		script.
			var maps = #{maps};
			window.url = #{url};
	body
		script(src=url('js/app.js'))
